{% extends "layout.html" %}
{% block body %}
<div class="row">
  <div class="col-md-7 mx-auto">
    <div class="card card-body">
      <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="form-container">
          <legend>Elegir ESP32</legend>
          <form action="{{url_for('topico')}}" method="POST">
            <div class="form-check">
                <input type="radio" class="form-check-input" id="esp1" name="esp" value="fgkh4576hq">
                <label class="form-check-label" for="esp1">ESP1</label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="esp2" name="esp" value="hkj56568g2">
                <label class="form-check-label" for="esp2">ESP2</label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="esp3" name="esp" value="tr43fg652t">
                <label class="form-check-label" for="esp3">ESP3</label>
            </div>

              <div class="form-group">
                  <label for="number">Setpoint:</label>
                  <input type="number" class="form-control" id="number" name="setpoint" min="1" max="100" step="0.01">
              </div>
              <button type="submit" class="btn btn-secondary" name="setbotton">Enviar Setpoint</button>
              <div class="form-group">
                <button type="submit" class="btn btn-secondary" name="destello">Destello</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
